<ion-header>
  <ion-toolbar>
    <ion-menu-toggle slot="start">
      <ion-icon
        name="menu-outline"
        style="font-size: 170%; font-weight: bold; margin-left: 11%"
      ></ion-icon>
    </ion-menu-toggle>
    <ion-title style="font-size: 100%; font-family: revert"
      ><ion-img src="assets/logo.png" alt="Freshofast" style="width: 59%">
      </ion-img
    ></ion-title>
    <!-- <ion-buttons slot="end" style="margin-right: 2%">
      <ion-icon slot="end" name="search-outline"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 20px; text-align: center">
    <h2>Return, Refund and Cancellation policy</h2>
    <br />
    In the event, if you are displeased with the Product delivered, we will
    refund back the money without asking anything. Please read the fine prints
    of each deal before buying it, it provides all the details about &nbsp;the
    product you purchase.<br /><br />
    In case of dissatisfaction from our products, You have the liberty to cancel
    their order and request a refund from us. Our Policy for the cancellation
    and refund will be as follows: <br />
    <br />
    <strong>&nbsp;Cancellation Policy</strong><br /><br />
    For Cancellations please contact the us via email id and Phone no.&nbsp;<br /><br />
    You can request for cancellation within 12 hours of your order. Cancellation
    will be initiated within 24 hours and in case of online payment mode amount
    will be reflected in your original mode of payment in 7-10 days<br /><br /><strong
      >Refund Policy</strong
    ><br /><br />
    In case any client is not completely satisfied with our products we can
    provide a refund.You can ask for refund within 24 hours of receiving the
    product. If paid by COD mode you have to provide your bank details so that
    we can refund you and amount will reflect in your account within 7-10 days
    <br /><br />
    If paid by credit card, refunds will be issued to the original credit card
    provided at the time of purchase and in case of payment gateway name
    payments refund will be made to the same account in 7-10 days
  </div>
</ion-content>
