<ion-header>
  <ion-toolbar>
    <ion-menu-toggle slot="start">
      <ion-icon
        name="menu-outline"
        style="font-size: 170%; font-weight: bold; margin-left: 11%"
      ></ion-icon>
    </ion-menu-toggle>
    <ion-title style="font-size: 100%; font-family: revert"
      ><ion-img src="assets/logo.png" alt="Freshofast" style="width: 59%">
      </ion-img
    ></ion-title>
    <!-- <ion-buttons slot="end" style="margin-right: 2%">
      <ion-icon slot="end" name="search-outline"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 10px; text-align: center">
    <h2>Privacy Policy</h2>
    The Company respects your privacy and values the trust you place in it. Set
    out below is the Company’s ‘Privacy Policy’ which details the manner in
    which information relating to you is collected, used and disclosed. Customer
    are advised to read and understand our Privacy Policy carefully, as by
    accessing the website you agree to be bound by the terms and conditions of
    the Privacy Policy and consent to the collection, storage and use of
    information relating to you as provided herein. If you do not agree with the
    terms and conditions of our Privacy Policy, including in relation to the
    manner of collection or use of your information, please do not use or access
    the website. We also collect and store personal information provided by you
    from time to time on the website. We only collect and use such information
    from you that we consider necessary for achieving a seamless, efficient and
    safe experience, customized to your needs including: To enable the provision
    of services opted for by you;To communicate necessary account and
    product/service related information from time to time; To allow you to
    receive quality customer care services;To undertake necessary fraud and
    money laundering prevention checks, and comply with the highest security
    standards; To comply with applicable laws, rules and regulations; andTo
    provide you with information and offers on products and services, on
    updates, on promotions, on related, affiliated or associated service
    providers and partners, that we believe would be of interest to you. Where
    any service requested by you involves a third party, such information as is
    reasonably necessary by the Company to carry out your service request may be
    shared with such third party. We also do use your contact information to
    send you offers based on your interests and prior activity. The Company may
    also use contact information internally to direct its efforts for product
    improvement, to contact you as a survey respondent, to notify you if you win
    any contest; and to send you promotional materials from its contest sponsors
    or advertisers. Contacts Permissions: If you allow Freshofast to access your
    contacts (including contact number, email id etc.), it enables Freshofast to
    subscribe you and your contacts to Freshofast promotional emails, messages,
    ongoing offers etc., and through this permission you and your contacts will
    be able to access a variety of social features such as inviting your friends
    to try our app, send across referral links to your friends, etc. We may also
    use this information to make recommendations of grocery items you placed.
    This information will be synced from your phone and stored on our servers.
    Further, you may from time to time choose to provide payment related
    financial information (credit card, debit card, bank account details,
    billing address etc.) on the website. We are committed to keeping all such
    sensitive data/information safe at all times and ensure that such
    data/information is only transacted over secure website [of approved payment
    gateways which are digitally encrypted], and provide the highest possible
    degree of care available under the technology presently in use. The Company
    will not use your financial information for any purpose other than to
    complete a transaction with you. To the extent possible, we provide you the
    option of not divulging any specific information that you wish for us not to
    collect, store or use. You may also choose not to use a particular service
    or feature on the websitelication, and opt out of any non-essential
    communications from the Company. Further, transacting over the internet has
    inherent risks which can only be avoided by you following security practices
    yourself, such as not revealing account/login related information to any
    other person and informing our customer care team about any suspicious
    activity or where your account has/may have been compromised. Company use
    data collection devices such as “cookies” on certain pages of the website to
    help analyse our web page flow, measure promotional effectiveness, and
    promote trust and safety. “Cookies” are small files placed on your hard
    drive that assist us in providing our services. Company offers certain
    features that are only available through the use of a “cookie”. The Company
    also use cookies to allow you to enter your password less frequently during
    a session. Cookies can also help the Company provide information that is
    targeted to your interests. Most cookies are “session cookies,” meaning that
    they are automatically deleted from your hard drive at the end of a session.
    You are always free to decline our cookies if your browser permits, although
    in that case you may not be able to use certain features on the website and
    you may be required to re-enter your password more frequently during a
    session. Additionally, you may encounter “cookies” or other similar devices
    on certain pages of the website that are placed by third parties. The
    Company does not control the use of cookies by third parties. If you send
    the Company personal correspondence, such as emails or letters, or if other
    users or third parties send us correspondence about your activities on the
    website, the Company may collect such information into a file specific to
    you. The website may contain links to other websites. We are not responsible
    for the privacy practices of such websites which we do not manage and
    control.
  </div>
</ion-content>
