ion-toolbar {
  --background: #60be74;
}
.card-background-page {
  ion-img {
    height: 88%;
  }
  .included {
    margin-left: 3%;
  }
  .includedbutton {
    margin-left: 28%;
  }
  .includedicon {
    font-size: 101%;
  }
  .includedinput {
    width: 5%;
  }
  .includedbutton2 {
    font-size: 101%;
  }
}
